@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./Fonts/css/general-sans.css');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'GeneralSans-Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* font-family: 'GeneralSans-Variable';
font-family: 'GeneralSans-VariableItalic';
font-family: 'GeneralSans-Extralight';
font-family: 'GeneralSans-ExtralightItalic';
font-family: 'GeneralSans-Light';
font-family: 'GeneralSans-LightItalic';
font-family: 'GeneralSans-Regular';
font-family: 'GeneralSans-Italic';
font-family: 'GeneralSans-Medium';
font-family: 'GeneralSans-MediumItalic';
font-family: 'GeneralSans-Semibold';
font-family: 'GeneralSans-SemiboldItalic';
font-family: 'GeneralSans-Bold';
font-family: 'GeneralSans-BoldItalic'; */

.arrow1:before{
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  width: 0;
  transform: rotate(-4deg);
  border-top: 25px solid black;
  border-left: 40px solid transparent;
  border-right: 5px solid transparent;
}
.arrow2:before{
  content: "";
  position: absolute;
  top: 98%;
  left: 20%;
  width: 0;
  transform: rotate(4deg);
  border-top: 25px solid black;
  border-left: 5px solid transparent;
  border-right: 40px solid transparent;
}

body *{
  transition: all;
}